/* color */

$cream: #fdf6eb;

$brown: #bc926c;

$black: #221f1f;

$red: #d61e35;

$white: #ffffff;

/* fonts */
$mono: 'Cutive Mono', Courier, monospaced;

$cutive: 'Cutive', Georgia, serif;

$sans: 'Modern Sans Serif 7';