.backgroundImage{
	background-size: cover;
}

.backgroundImageHome{
	background-image: url('../../images/home-image-1680.jpg');
	padding: 10% 0;
}

.backgroundImageMarkets{
	background-image: url('../../images/markets_image.png');
	padding: 15% 0;
	
}

.backgroundImageCatering{
	background-image: url('../../images/catering-image-1680.jpg');
	padding: 1% 0;
	
}

.backgroundImageStory{
	background-image:  url('../../images/story_image1.png');
	padding: 1% 0;
	
}

.backgroundImageStory2{
	background-image:  url('../../images/story_image2.png');
	padding: 1% 0;
	
}

.backgroundImageFooter{
	background-image: url('../../images/bigo_pattern_web.png');
	padding: 5% 0;
}

.backgroundImageMenu{
	background-image: url('../../images/menu_image1.jpg');
}