.backgroundImage{
	background-size: cover;
}

.backgroundImageHome{
	background-image: url('../../images/home-image-1680.jpg');
	padding: 10% 0;

}

.backgroundImageFooter{
	background-image: url('../../images/bigo_pattern_web.png');
	padding: 10% 0;

}