.backgroundImage{
	background-size: cover;
}

.backgroundImageHome{
	background-image: url('../../images/home-facade-crop-1680.jpg');
	background-position:center;
	padding: 10% 0;
}

.backgroundImageMarkets{
	background-image: url('../../images/markets_image.png');
	padding: 17% 0;
	margin-bottom: 3em;
	
}

.backgroundImageCatering{
	background-image: url('../../images/catering-image-1680.jpg');
	padding: 1% 0;
	margin-bottom: 3em;
	background-position:center;
	
}

.backgroundImageStory{
	background-image:  url('../../images/story-image-1-1680.jpg');
	padding: 1% 0;
	margin-bottom: 3em;
	background-position:center;
	
}

.backgroundImageStory2{
	background-image:  url('../../images/story-image-2-1680.jpg');
	padding: 1% 0;
	background-position:center;
	
}

.backgroundImageFooter{
	background-image: url('../../images/bigo_pattern_web.png');
	padding: 5% 0;
}

.backgroundImageMenu{
	background-image: url('../../images/menu-image-1680.jpg');
	background-position:center;
	margin-bottom: 3em;
}


.backgroundImageStyle{
	background-image:  url('../../images/story_image1.png');
}