html{
	background-color: $cream;
}

.navContainer{
	background-color: $cream;
}

.nav {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navLogo{
	/* background-color: red; */
}

.navLinks{
	/* background-color: blue; */
	padding: 0;
	font-family: $cutive;
	font-size: 1em;
	
	/* NAV LINKS UL */
	ul {
		float: right;
		/* padding-top: 40px; */
		padding: 0;
	
		li {
			display: inline;
			padding: 0px 0px 0px 40px;
			font-family: $cutive;
			
			a {
				font-size: 1.25em;
				color: black;
			}
			a:hover {
				color: $red;
				text-decoration: none;
				border-bottom: .1em $red solid;
			}
		}
	}
}

.logo {
	width: 81px;
	height: auto;
}

.navUIButton{
	display: none;
}




.footer{
	padding: 5em 0;
	background-color: black;
	margin: auto;
	p{
		font-size: 1.2em;
		text-align: center;
		color: white;
	}
}