html{
	background-color: $cream;
}

.navContainer{
	background-color: $cream;
}

.nav {
	/*
padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 2em;
	padding-right: 2em;
*/
	padding: 2em 1.5em;
}

.navLogo{
	/* background-color: red; */
}

.mobileNav, .navLinks{
	/* background-color: blue; */
	padding: 0;
	font-family: $cutive;
	font-size: 1em;
	
	/* NAV LINKS UL */
	ul {
		float: right;
		/* padding-top: 40px; */
		padding: 0;
		list-style-type: none;
		li {
			float: left;
			padding: 0px 0px 0px 40px;
			font-family: $cutive;
			a {
				display: block;
				font-size: 1.25em;
				color: black;
				padding: 5px 0 0;
				text-decoration: none;
			}
			
			a:hover {
				color: $red;
				text-decoration: none;
				border-bottom: .1em $red solid;
			}
			
			a:active {
				color: $red;
				border-bottom: .1em $red solid;
			}
			.current{
				color: $red;
				text-decoration: none;
				border-bottom: .1em $red solid;
			}
		}
	}
}

.logo {
	width: 81px;
	height: 46.5px;
	
	opacity: 1;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	

}

.logo:hover{
	opacity: .5;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.navUIButton{
	float: right;
}

.hidden{
	display: none;
}

.mobileNav{
	position: absolute;
	z-index: 50;
	width: 100%;
	height: 100%;
	background-color: rgba(188,146,108,0.9);
	color: white;
	ul{
		float: none;;
		li{
			float: none;
			padding: 0;
			a{
				display: block;
				text-align: center;
				padding: 2em 0;
				color: white;
				font-size: 2.125em;
				border-bottom: 1px $cream solid;
			}
			a:hover {
				opacity: .5;
				color: white;
				text-decoration: none;
				border-bottom: 1px $cream solid;
			}
		}
	}
	

}


.footer{
	padding: 5em 0;
	background-color: black;
	margin: auto;
	h4{
		text-align: center;
		color: white;
	}
	p{
		text-align: center;
		color: white;
		font-size: 1.15em;
	}
	a{
		text-decoration:none;
		color: white;
	}
	a:hover{
		text-decoration: underline;
	}
}

.navFix{
	margin-top: 86px;
}