html{
	background-color: $cream;
}

.navContainer{
	background-color: $cream;
}

.nav {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navLogo{
	background-color: red;
}

.navLinks{
	background-color: blue;
	
}


.logo {
	width: 81px;
	height: auto;
}


ul {
	float: right;
	/* padding-top: 40px; */

	li {
		display: inline;
		padding: 0px 40px 0px 0px;
		font-family: $mono, sans;
		
		a {
			font-size: 1.5em;
		}
	}
}
.footer{
	padding: 50px 200px;
	background-color: black;
	margin: auto;
	p{
		font-family: $cutive;
		font-size: 1em;

		color: white;
	}
}