/* ||||||Markets||||||| */

.first {
	padding-top: 3em;
}

.second {
	padding-top: 3em;
}

.third{
	padding-top: 3em;
	padding-bottom: 3em;
}


.border{
	border: solid $brown 2px;
	padding: 1.8em 0 1.8em 0;
	background: $cream;
}

.border:hover{
	background: $brown;
}

.retail:hover{
	background: none;
}

/* ||||||Menu||||||| */

backgroundImageMenu{
	h2{
		text-transform: uppercase;
		color: $cream;
		text-align: center;
	}
}

.menuItem {
	margin-bottom: 3em;
	p{
		margin-top: -.5em;
	}
}

/* ||||||Catering||||||| */

.backgroundImageCatering{
	margin-bottom: 7em;
	h2{
		text-transform: uppercase;
		color: $cream;
		text-align: center;
	}
}



.cateringContent{
	h3{
		text-align: left;
	}
	.caterChunk{
		margin-bottom: 6em;
	}
}

/* ||||||Story||||||| */
.backgroundImageStory{
	margin-bottom: 3em;
	h2{
		padding-top: 1em;
		text-transform: uppercase;
		color: $cream;
		text-align: center;
	}
}

.backgroundImageStory2{
	margin-bottom: 3em;
	h2{
		padding-top: 1em;
		text-transform: uppercase;
		color: $cream;
		text-align: center;
	}
}


/* ||||||Contact||||||| */

.backgroundBlack{
	margin-bottom: 7em;
}

.contactContent{
	h3{
		text-align: left;
	}
}

form{
	position: relative;
	ul{
		text-decoration: none;
		margin: 0px;
		padding: 0px;

		.HLF{
			margin-bottom: 2em;
		}
		li{
			list-style-type: none;
			label{
				margin-bottom: -.1em;
			}
		}
		.buttons{
			margin-top: 3em;
		}
	}
	input{
		border: 2px solid $brown;
		width: 100%;
		background-color: rgba(255,255,255,0.5);
		height: 3em;
		font-family: $cutive;
		font-size: 1.25em;
		padding: 5px;
	}
	textarea{
		border: 2px solid $brown;
		width: 100%;
		background-color: rgba(255,255,255,0.5);
		font-family: $cutive;
		font-size: 1.25em;
		text-align: left;
		padding: 5px;
	}
	.submit{
		background-color: $brown;
		border: 2px solid $black;
		margin-bottom: 7em;
		
		
	}
}

/* ||||||Style Guide||||||| */

.backgroundImageStyle{
	h2{
		padding-top: 1em;
		text-transform: uppercase;
		color: $cream;
		text-align: center;
	}
}
