/* ||||||Markets||||||| */

.backgroundColorMarkets {
	background-color: $red;
	.container {
		padding-top: 2em;
		text-align: center;
		color: $cream;
		h3{
			line-height: 1.8em;
		}
	}
}

.markets{
	padding-top: 3em;
}

.last{
	padding-bottom: 3em;
}

.border{
	border: solid $brown 2px;
	padding: 1.8em 0 1.8em 0;
	background: $cream;
}

.border:hover{
	background: $brown;
}

/* ||||||Catering||||||| */

.backgroundColorCatering {
	background-color: $brown;
	.container {
		text-align: center;
		color: $cream;
		h3{
			line-height: 1.8em;
			padding-top: 1.7em;
		}
	}
}

.backgroundImageCatering{
	margin-bottom: 7em;
	h5{
		text-transform: uppercase;
		color: $cream;
		line-height: 1.3em;
		text-align: center;
	}
}

.cateringContent{
	h3{
		text-align: left;
	}
}

/* ||||||Story||||||| */

.backgroundColorStory {
	background-color: $brown;
	.container {
		padding-top: 2em;
		text-align: center;
		color: $cream;
		h3{
			line-height: 1.8em;
		}
	}
}

.backgroundImageStory{
	margin-bottom: 3em;
	h5{
		padding-top: 1em;
		text-transform: uppercase;
		color: $cream;
		line-height: 1.3em;
		text-align: center;
	}
}

.backgroundImageStory2{
	margin-bottom: 3em;
	h5{
		padding-top: 1em;
		text-transform: uppercase;
		color: $cream;
		line-height: 1.3em;
		text-align: center;
	}
}

.story{
	padding-bottom: 3em;
}


/* ||||||Contact||||||| */

.backgroundBlack{
	margin-bottom: 7em;
	h3{
		padding-top: 2.7em;
	}
}

.contactContent{
	h3{
		text-align: left;
	}
}