body {
	font-size: 100%; /* 16 pixel default */
}


h1 {
	font-family: $sans;
	font-size: 1em;
}

h2 {
	font-family: $sans;
	font-size: 2.75em;
}


h3 {
	font-family: $cutive;
	font-size: 1.5em;
}

h4 {
	font-family: $cutive;
	font-size: .813em;
}


h6 {
	font-family: $cutive;
	font-size: .75em;
}