@media screen and (max-width:767px) {


	/*
.navLinks{
		background-color: rgba(188,146,108,0.9);
	}
*/

	/* NAV Media */
	/*
.navLinks{
		display: none;
	}
*/
	/*
ul {
		float: left;
		padding-top: 40px;
		padding: 0;
		list-style-type: none;
		width: 100%;
		background-color: $black;
		li {
			float: left;
			padding: 0px 0px 0px 40px;
			font-family: $cutive;
			a {
				display: block;
				font-size: 1.25em;
				color: black;
				padding: 5px 0 0;
			}
			
			a:hover {
				color: $red;
				text-decoration: none;
				border-bottom: .1em $red solid;
			}
			
			a:active {
				color: $red;
				border-bottom: .1em $red solid;
			}
			.current{
				color: $red;
				text-decoration: none;
				border-bottom: .1em $red solid;
			}
		}
	}
*/
	
	/* Typography */
	h1{
		font-size: 4em;
		line-height: 1.3em;
	}
	
	h2{
		font-size: 3em;
		line-height: 1.3em;
	}
	
	h5{
		font-size: 3em;
		line-height: 1.1em;
	}
	
	.menuSection {
	position: relative;
	/* width: 80%; */
	margin: auto;
	}
	
}




@media screen and (min-width:768px) and (max-width:991px) {
	/* NAV Media */
	/*
.navLinks{
		ul{
			li{
				padding: 0 .75em;
				
			}
		}
	}
*/
	
	
	/* Typography */
	h1{
		font-size: 4em;
		line-height: 1.3em;
	}
	
	h2{
		font-size: 4em;
		line-height: 1.3em;
	}
	
	h5{
		font-size: 4em;
		line-height: 1.2em;
	}
	
	.menuSection {
	position: relative;
	width: 100%
	}
}




@media screen and (min-width:992px) and (max-width:1199px){
	
	.navLinks{
		ul{
			li{
				padding: 0 1em;
				
			}
		}
	}
	
	/* Typography */
	h1{
		font-size: 5em;
		line-height: 1.3em;
	}
	
	h2{
		font-size: 4.5em;
		line-height: 1.3em;
	}
	
	h5{
		font-size: 4.8em;
		line-height: 1.3em;
	}
	
	.menuSection {
	position: relative;
	width: 100%
	}

}


@media screen and (min-width:1200px) {
	/* Typography */
	h5{
		font-size: 5em;
		line-height: 1.3em;
	}
	
	.menuSection {
	position: relative;
	width: 100%
	}
	
}


/* h5 text over image */

