@media (max-width:767px) {

	/* NAV Media */
	.navLinks{
		display: none;
	}
	
	
	/* Typography */
	h1{
		font-size: 4em;
		line-height: 1.3em;
	}
	h5{
		font-size: 3em;
		line-height: 1.1em;
	}
}




@media (min-width:768px) and (max-width:991px) {
	/* NAV Media */
	.navLinks{
		ul{
			li{
				padding: 0 1em;
				
			}
		}
	}
	
	
	/* Typography */
	h1{
		font-size: 4em;
		line-height: 1.3em;
	}
	h5{
		font-size: 4em;
		line-height: 1.2em;
	}
}

@media (min-width:992px) and (max-width:1199px){
	
	/* Typography */
	h1{
		font-size: 5em;
		line-height: 1.3em;
	}
	h5{
		font-size: 4.8em;
		line-height: 1.3em;
	}
}

@media (min-width:1200px) {
	/* Typography */
	h5{
		font-size: 5em;
		line-height: 1.3em;
	}
}


/* h5 text over image */

