---
title: Catering | Big O's
---
<div class="backgroundColor backgroundColorCatering">
	<div class="container">
		<h3 class="col-md-offset-3 col-md-6">Whatever the occasion your guests will be treated to mouthwatering wood-fired pizza.</h3>
	</div>
</div>

<div class="backgroundImage backgroundImageCatering">
	<div class="container">
		<div class="row homepageText">
			<h2 class="col-md-offset-3 col-md-6">locally<br>sourced and<br>made from<br>scratch</h2>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		
		<div class="cateringContent col-md-offset-2 col-md-8">
			<div class="row">
				<div class="col-md-6">
					<h3>Minimum Order</h3>
					<p class="mono red">20 large 18" pizzas or<br>60 small 8" pizzas.</p>
					<h3>Space Requirement</h3>
					<p>Our oven requires a flat, level surface approximately <span class="red">8 ft wide by 14 ft long.</span> Driveways and patios normally suffice.</p>
					<h3>What does it cost?</h3>
					<p class="mono red">May 1st - September 30th = $30*<br>October 1st - Aril 30th = $24*</p>
					<p>If your menu includes specialty items such as prosciutto or calamari, the pricer per pizza could increase.</p>
					<p class="mono">*Price is per-pizza</p>
				</div>
				<div class="col-md-6">
					<h3>Submit your catering request here:</h3>
						<form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
      action="https://bcaudle.wufoo.com/forms/zo5u2tm10q8c6h/#public">
  

<h2>Handy Little Form</h2>


<ul>

<li id="foli4" class="notranslate HLF HLF_name     ">
<label class="desc" id="title4" for="Field4">
Name
<span id="req_4" class="req">*</span>
</label>
<div>
<input id="Field4" name="Field4" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="validateRange(4, 'character');" required />
<label for="Field4">Must be at least <var id="rangeMinMsg4">3</var> characters.&nbsp;&nbsp;&nbsp; <em class="currently">Currently Used: <var id="rangeUsedMsg4">0</var> characters.</em></label>
</div>
</li><li id="foli5" class="notranslate HLF HLF_email     ">
<label class="desc" id="title5" for="Field5">
Email
<span id="req_5" class="req">*</span>
</label>
<div>
<input id="Field5" name="Field5" type="text" class="field text medium" value="" maxlength="255" tabindex="2" onkeyup="" required />
</div>
</li><li id="foli8" class="notranslate HLF HLF_phone     ">
<label class="desc " id="title8" for="Field8">
Phone
</label>
<div>
<input id="Field8" name="Field8" type="text" class="field text nospin medium"  value="" tabindex="3" onkeyup="" />
</div>
</li><li id="foli9" 
class="notranslate HLF HLF_message     "><label class="desc" id="title9" for="Field9">
What can we do for you?
<span id="req_9" class="req">*</span>
</label>

<div>
<textarea id="Field9" 
name="Field9" 
class="field textarea medium" 
spellcheck="true" 
rows="10" cols="50" 
tabindex="4" 
onkeyup=""
required  ></textarea>

</div>
</li> <li class="buttons ">
<div>

                    <input id="saveForm" name="saveForm" class="btTxt submit" 
    type="submit" value="Submit"
 /></div>
</li>

<li class="hide">
<label for="comment">Do Not Fill This Out</label>
<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
<input type="hidden" id="idstamp" name="idstamp" value="4fwp4C2ea+eE7axkifDTHWjJ+CBL1tvluGBHI0u7Bf0=" />
</li>
</ul>
</form> 
					</div>
			</div>
		</div>

	</div>
</div>

<script src="javascripts/wufoo.js"></script>