---
title: Catering | Big O's Pizza
---

<div class="backgroundBrown navFix">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<div class="bar">
					<h1 class="smaller">Catering</h1>
					<h3 class="cream pageHeader">Whatever the occasion, your guests will be treated to mouthwatering wood-fired pizza.
					</h3>
				</div>
			</div>
        </div>
    </div>
</div>

    <div class="backgroundImage backgroundImageCatering">
        <div class="container">
            <div class="row">
                <h2 class="col-md-offset-1 col-md-10">locally sourced &<br>
                made from scratch</h2>
            </div>
        </div>
    </div>

    <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="caterChunk">
	                        <h3>Minimum Order</h3>
	
	                        <p class="mono red cushycms" title="Minimum Order">20 large 18" pizzas or<br>
	                        60 small 8" pizzas.</p>
                        </div>
                        
                        <div class="caterChunk">
	                        <h3>Space Requirement</h3>
	
	                        <p>Our oven requires a flat, level surface approximately <span class="red">8 ft wide by 14 ft long.</span> Driveways and patios normally suffice.</p>
                        </div>
                        
                        <div class="caterChunk">
	                        <h3>What does it cost?</h3>
	
	                        <p class="mono red cushycms" title="Cost">May 1st - September 30th = $30*<br>
	                        October 1st - April 30th = $24*</p>
	
	                        <p>If your menu includes specialty items such as prosciutto or calamari, the price per pizza could increase.</p>
	
	                        <p class="mono">*Price is per-pizza</p>
                        </div>
                    </div>

                    <div class="col-sm-5 caterChunk">
                        <h3>Submit your catering request here:</h3>

                        <form id="form2" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate="" action="https://bigopizza.wufoo.com/forms/mn1zfta0d9ayoc/#public">

                            <ul>
                                <li id="foli1" class="notranslate HLF">
                                    <label class="desc mono brown" id="title1" for="Field1">Name<span id="req_1" class="req red">*</span></label>

                                    <div>
                                        <input id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" required="">
                                    </div>
                                </li>

                                <li id="foli2" class="notranslate HLF">
                                    <label class="desc mono brown" id="title2" for="Field2">Email<span id="req_2" class="req red">*</span></label>

                                    <div>
                                        <input id="Field2" name="Field2" type="text" class="field text medium" value="" maxlength="255" tabindex="2" onkeyup="" required="">
                                    </div>
                                </li>

                                <li id="foli3" class="notranslate HLF">
                                    <label class="desc mono brown" id="title3" for="Field3">Phone</label>

                                    <div>
                                        <input id="Field3" name="Field3" type="text" class="field text medium" value="" maxlength="255" tabindex="3" onkeyup="">
                                    </div>
                                </li>

                                <li id="foli4" class="notranslate HLF">
                                    <label class="desc mono brown" id="title4" for="Field4">Event Type (Wedding, birthday, etc.)</label>

                                    <div>
                                        <input id="Field4" name="Field4" type="text" class="field text medium" value="" maxlength="255" tabindex="4" onkeyup="">
                                    </div>
                                </li>

                                <li id="foli5" class="notranslate HLF">
                                    <label class="desc mono brown" id="title5" for="Field5">Event Date</label>

                                    <div>
                                        <input id="Field5" name="Field5" type="text" class="field text medium" value="" maxlength="255" tabindex="5" onkeyup="">
                                    </div>
                                </li>

                                <li id="foli6" class="notranslate HLF">
                                    <label class="desc mono brown" id="title6" for="Field6">What can we do for you?<span id="req_6" class="req red">*</span></label>

                                    <div>
                                        <textarea id="Field6" name="Field6" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="6" onkeyup="" required=""></textarea>
                                    </div>
                                </li>

                                <li class="buttons">
                                    <div>
                                        <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit">
                                    </div>
                                </li>

                                <li class="hide"><label for="comment">Do Not Fill This Out</label> 
                                <textarea name="comment" id="comment" rows="1" cols="1">
								</textarea> <input type="hidden" id="idstamp" name="idstamp" value="hwlIJr5Moum6+JZmkqv9dyiHnOdO7MwEGV6AnfXDP5c="></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="javascripts/wufoo.js" type="text/javascript">
	</script>

