---
title: Catering | Big O's
---

<!DOCTYPE html>


<div class="backgroundColor backgroundColorCatering">
	<div class="container">
		<h3>Let us cater your event: whater the occasion your guests will be treated to mouthwatering wood-fired pizza.</h3>
	</div>
</div>

<div class="backgroundImage backgroundImageHome">
	<div class="container">
		<div class="row homepageText">
			<h1 class="col-md-offset-3 col-md-6">truly<br>delicious<br>pizza</h1>
		</div>
	</div>
</div>