---
title: Catering | Big O's
---

<!DOCTYPE html>


<div class="backgroundColor backgroundColorCatering">
	<div class="container">
		<h3 class="col-md-offset-3 col-md-6">Let us cater your event: whatever the occasion your guests will be treated to mouthwatering wood-fired pizza.</h3>
	</div>
</div>

<div class="backgroundImage backgroundImageCatering">
	<div class="container">
		<div class="row homepageText">
			<h5 class="col-md-offset-3 col-md-6">locally<br>sourced and<br>made from<br>scratch</h5>
		</div>
	</div>
</div>