---
title: Testing Bootstrap
---

<!DOCTYPE html>


<div class="row photo">
<<<<<<< HEAD
	<img src="images/home-image-1680.jpg">
</div>

=======
	<img src="../images/homepage_photo.jpeg">
</div>
>>>>>>> FETCH_HEAD
