---
title: Welcome to Big O's Pizza
---

<!DOCTYPE html>


<div class="backgroundImage backgroundImageHome navFix">
	<div class="container">
		<div class="row homepageText">
			<h1 class="white col-md-offset-2 col-md-8">New Shop Open Weekdays</h1>
			<h3 class="white ALLCAPS col-md-offset-3 col-md-6">— Hours —</h3>
			<h4 class="white col-md-offset-3 col-md-6">Monday through Friday: 11am–9pm <br>(May close earlier based on business volume)</h4>
			<h4 class="white col-md-offset-3 col-md-6">Saturday & Sunday: 3pm–9pm</h4>
			<h3 class="white ALLCAPS col-md-offset-3 col-md-6">— Location —</h3>
			<h4 class="white col-md-offset-3 col-md-6">12305 SW Broadway St, Beaverton, OR 97005</h4>
		</div>
	</div>
</div>

<div class="imageBreak">
	<p>text</p>
</div>

<div class="backgroundImage backgroundImageHome2">
	<div class="container">
		<div class="row homepageTextTransparent ">
			<h1 class="homepageTextTransparent white col-md-offset-2 col-md-8">New Shop Open Weekdays</h1>
			<h3 class="homepageTextTransparent white ALLCAPS col-md-offset-3 col-md-6">— Hours —</h3>
			<h4 class="homepageTextTransparent white col-md-offset-3 col-md-6">Monday through Friday: 11am–9pm <br>(May close earlier based on business volume)</h4>
			<h4 class="homepageTextTransparent white col-md-offset-3 col-md-6">Saturday & Sunday: 3pm–9pm</h4>
			<h3 class="homepageTextTransparent white ALLCAPS col-md-offset-3 col-md-6">— Location —</h3>
			<h4 class="homepageTextTransparent white col-md-offset-3 col-md-6">12305 SW Broadway St, Beaverton, OR 97005</h4>
		</div>
	</div>
</div>