---
title: Testing Bootstrap
---

<!DOCTYPE html>
  	<div class="container">
		<div class="row">
			<h1 class="col-md-6">Hello, world!</h1>
			<h2 class="col-md-6">Test test, 123456</h2>
		</div>
	  	<div class="row">
		    <div class="col-xs-4 col1">Column 1</div>
		    <div class="col-xs-4 col2">Column 2</div>
		    <div class="col-xs-4 col3">Column 3</div>
	  	</div>
  	</div>