<div class="backgroundColor backgroundColorMarkets">
	<div class="container">
		<h3 class="col-md-offset-3 col-md-6">You can find us at 7 different farmers markets in the Portland Metro area throughout the week.</h3>
	</div>
</div>

<div class="backgroundImage backgroundImageMarkets">
</div>

<div class="container">
			
	<div class="markets">
		<a href="https://www.google.com/maps/place/Beaverton+Farmers+Market/@45.484478,-122.805018,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xc0df956e5fd2b202" target="_blank">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="border">
				<h3>Beaverton</h3>
				<p class="red center">SW Hall Blvd between<br>
					3rd and 5th Streets<br>
					Beaverton, OR 97005
				</p>
				<p class="center">Saturdays<br>
					8:00am–2:00pm<br>
					May–November
				</p>
			</div>
		</div>
		</a>
	
		<a href="https://www.google.com/maps/place/200+1st+St/@45.4181098,-122.6645279,17z/data=!3m1!4b1!4m2!3m1!1s0x5495749a8cca3815:0x6e0c685c6013c61d" target="_blank">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="border">
				<h3>Lake Oswego</h3>
				<p class="red center">Millenium Plaza Park<br>
					200 First Street<br>
					Lake Oswego, OR 97031
				</p>
				<p class="center">Saturdays<br>
					8:30am–1:30pm<br>
					May–October
				</p>
			</div>
		</div>
		</a>
		
		
		<a href="https://www.google.com/maps/preview?oe=utf-8&client=firefox-a&channel=fflb&ie=UTF-8&q=OHSU+Farmers+Market&fb=1&gl=us&hq=farmers+market&hnear=0x54950a441cf25f59:0x75b1d4883660ddeb,OHSU:+Oregon+Health+%26+Science+University,+3181+SW+Sam+Jackson+Park+Rd,+Portland,+OR+97239&cid=8702621552847532926&ei=Y1x6U5TSF8eFogSM94E4&ved=0CI4BEPwSMAk" target="_blank">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="border">
				<h3>OHSU</h3>
				<p class="red center">3181 SW Sam<br>
					Jackson Park Road<br>
					Portland, OR 97239
				</p>
				<p class="center">Tuesdays<br>
					11:00am–2:00pm<br>
					June–August
				</p>
			</div>
		</div>
		</a>
	</div>
	
	
	<div class="markets">
		<a href="https://www.google.com/maps/preview?oe=utf-8&client=firefox-a&channel=fflb&ie=UTF-8&q=Hillsboro+Tuesday+Marketplace&fb=1&gl=us&hq=hillsboro+tuesday+market+place&cid=11708462700326373039&ei=xVx6U4WbEsT-oQTHxoCgBQ&ved=0CI0BEPwSMA0" target="_blank">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="border">
				<h3>Hillsboro</h3>
				<p class="red center">E Main Street between<br>
					1st and 3rd Avenue<br>
					Hillsboro, OR 97123
				</p>
				<p class="center">Tuesdays<br>
					4:00pm–8:30pm<br>
					June–August
				</p>
			</div>
		</div>
		</a>
	
		<a href="https://www.google.com/maps/place/Willamette+Falls+Dr+%26+13th+St/@45.3441328,-122.6555154,17z/data=!3m1!4b1!4m2!3m1!1s0x5495710a95500fad:0x6150e8f2aed6d7c6" target="_blank">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="border">
				<h3>West Linn</h3>
				<p class="red center">Willamette Falls Drive<br>
					and 13th Street<br>
					West Linn, OR 97068
				</p>
				<p class="center">Wednesdays<br>
					3:00pm–7:00pm<br>
					June–September
				</p>
			</div>
		</div>
		</a>
		
		<a href="https://www.google.com/maps/place/28836+SW+Costa+Cir/@45.3094415,-122.7981135,17z/data=!3m1!4b1!4m2!3m1!1s0x54956ebd933c77b5:0x2204394ca600e418" target="_blank">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="border">
				<h3>Wilsonville</h3>
				<p class="red center">Sofia Park<br>
					28836 SW Costa Circle<br>
					Wilsonville, OR 97070
				</p>
				<p class="center">Thursdays<br>
					4:00pm–8:00pm<br>
					June–September
				</p>
			</div>
		</div>
		</a>
	</div>

	
	<div class="markets">
		<a href="https://www.google.com/maps/preview?oe=utf-8&client=firefox-a&channel=fflb&q=N+Mississippi+Avenue+and+N+Shaver+Street+Portland,+OR+97227&ie=UTF-8&hq=&hnear=0x5495a76ba97f897d:0x54ed0904cf987379,N+Mississippi+Ave+%26+N+Shaver+St,+Portland,+OR+97227&gl=us&ei=K156U5udKsz3oATFz4HgDA&ved=0CCgQ8gEwAA" target="_blank">
		<div class="col-xs-12 col-sm-6 col-md-4 last">
			<div class="border">
				<h3>Mississippi Street</h3>
				<p class="red center">N Mississippi Avenue<br>
					and N Shaver Street<br>
					Portland, OR 97227
				</p>
				<p class="center">Tuesdays<br>
					3:00pm–7:00pm<br>
					June–October
				</p>
			</div>
		</div>
		</a>
	
		<div class="col-xs-12 col-sm-6 col-md-4 last">
			<div class="border">
				<h3>Retail</h3>
				<p class="red center">Our brick and mortar<br>
					location is coming<br>
					soon to Beaverton.<br>
				</p>
				<p class="center">Please stay tuned<br>
					for updates!<br>
					<br>
				</p>
			</div>
		</div>
	
	</div>

	
</div> 