<div class="backgroundColor backgroundColorCatering">
	<div class="container">
		<h3 class="col-md-offset-3 col-md-6">You can find us at 7 different farmers markets in the Portland Metro area throughout the week.</h3>
	</div>
</div>

<div class="backgroundImage backgroundImageMarkets">
</div>

<div class="container">
			
	<div class="row">
		<div class="col-md-4">
			<h3>Beaverton</h3>
			<p class="red">SW Hall Blvd between<br>
				3rd and 5th Streets<br>
				Beaverton, OR 97005
			</p>
			<p>Saturdays<br>
				8:00am–2:00pm<br>
				May–November
			</p>
		</div>
	
		<div class="col-md-4">
			<h3>Lake Oswego</h3>
			<p class="red">Millenium Plaza Park<br>
				200 First Street<br>
				Lake Oswego, OR 97031
			</p>
			<p>Saturdays<br>
				8:30am–1:30pm<br>
				May–October
			</p>
		</div>
		
		<div class="col-md-4">
			<h3>OHSU</h3>
			<p class="red">3181 SW Sam<br>
				Jackson Park Road<br>
				Portland, OR 97239
			</p>
			<p>Tuesdays<br>
				11:00am–2:00pm<br>
				June–August
			</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4">
			<h3>Hillsboro</h3>
			<p class="red">E Main Street between<br>
				1st and 3rd Avenue<br>
				Hillsboro, OR 97123
			</p>
			<p>Tuesdays<br>
				4:00pm–8:30pm<br>
				June–August
			</p>
		</div>
	
		<div class="col-md-4">
			<h3>West Linn</h3>
			<p class="red">Willamette Falls Drive<br>
				and 13th Street<br>
				West Linn, OR 97068
			</p>
			<p>Wednesdays<br>
				3:00pm–7:00pm<br>
				June–September
			</p>
		</div>
		
		<div class="col-md-4">
			<h3>Wilsonville</h3>
			<p class="red">Sofia Park<br>
				28836 SW Costa Circle<br>
				Wilsonville, OR 97070
			</p>
			<p>Thursdays<br>
				4:00pm–8:00pm<br>
				June–September
			</p>
		</div>
	</div>
	
	<br>
	
	<div class="row">
		<div class="col-md-4">
			<h3>Mississippi Street</h3>
			<p class="red">N Mississippi Avenue<br>
				and N Shaver Street<br>
				Portland, OR 97227
			</p>
			<p>Tuesdays<br>
				3:00pm–7:00pm<br>
				June–October
			</p>
		</div>
	
		<div class="col-md-4">
			<h3>Retail</h3>
			<p class="red">Our brick and mortar<br>
				location is coming<br>
				soon to Beaverton.<br>
				Please stay tuned<br>
				for updates!
			</p>
		</div>
	
	</div>

	
</div> 