--- 
title: Markets | Big O's Pizza
---

<div class="backgroundRed navFix">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<div class="bar">	
					<h1 class="smaller">Markets</h1>
					<h3 class="cream pageHeader cushycms">You can find us at 6 different farmers markets in the Portland Metro area throughout the week.</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="backgroundImage backgroundImageMarkets">
</div>

<div class="container">
			
	<div class="markets">
		<a href="https://www.google.com/maps/place/Beaverton+Farmers+Market/@45.484478,-122.805018,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xc0df956e5fd2b202" target="_blank">
		<div class="farmerMarket col-xs-12 col-sm-6 col-md-4 first">
			<div class="border">
				<h3 class="cushycms">Beaverton</h3>
				<p class="red center cushycms">SW Hall Blvd between<br>
					3rd and 5th Streets<br>
					Beaverton, OR 97005
				</p>
				<p class="center cushycms">Saturdays<br>
					8:00am–1:30pm<br>
					May–November
				</p>
			</div>
		</div>
		</a>
	
		<a href="https://www.google.com/maps/place/Millenium+Plaza+City+Park/@45.4178253,-122.6647982,17z/data=!3m1!4b1!4m2!3m1!1s0x5495749b052a717d:0x624843437feadd29" target="_blank">
		<div class="farmerMarket col-xs-12 col-sm-6 col-md-4 first">
			<div class="border">
				<h3 class="cushycms">Lake Oswego</h3>
				<p class="red center cushycms">Millenium Plaza Park<br>
					200 First Street<br>
					Lake Oswego, OR 97031
				</p>
				<p class="center cushycms">Saturdays<br>
					8:30am–2:00pm<br>
					May–October
				</p>
			</div>
		</div>
		</a>
		
		
		<a href="https://www.google.com/maps/place/OHSU+Farmers+Market/@45.4973532,-122.6861995,17z/data=!4m2!3m1!1s0x0:0x78c5ec31a022b37e" target="_blank">
		<div class="farmerMarket col-xs-12 col-sm-6 col-md-4 first">
			<div class="border">
				<h3 class="cushycms">OHSU</h3>
				<p class="red center cushycms">3181 SW Sam<br>
					Jackson Park Road<br>
					Portland, OR 97239
				</p>
				<p class="center cushycms">Tuesdays<br>
					11:00am–2:00pm<br>
					June–August
				</p>
			</div>
		</div>
		</a>
	</div>
	
	
	<div class="markets">
		<a href="https://www.google.com/maps/place/Hillsboro+Tuesday+Marketplace/@45.522524,-122.984091,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xa27cd0cab6dd46af" target="_blank">
		<div class="farmerMarket col-xs-12 col-sm-6 col-md-4 second">
			<div class="border">
				<h3 class="cushycms">Hillsboro</h3>
				<p class="red center cushycms">E Main Street between<br>
					1st and 3rd Avenue<br>
					Hillsboro, OR 97123
				</p>
				<p class="center cushycms">Tuesdays<br>
					5:00pm–8:30pm<br>
					June–August
				</p>
			</div>
		</div>
		</a>
	
		<a href="https://www.google.com/maps/place/Willamette+Falls+Dr+%26+13th+St/@45.3441328,-122.6555154,17z/data=!3m1!4b1!4m2!3m1!1s0x5495710a95500fad:0x6150e8f2aed6d7c6" target="_blank">
		<div class="farmerMarket col-xs-12 col-sm-6 col-md-4 second">
			<div class="border">
				<h3 class="cushycms">West Linn</h3>
				<p class="red center cushycms">Willamette Falls Drive<br>
					and 13th Street<br>
					West Linn, OR 97068
				</p>
				<p class="center cushycms">Wednesdays<br>
					3:00pm–7:00pm<br>
					June–September
				</p>
			</div>
		</div>
		</a>
		
		<a href="https://www.google.com/maps/place/28836+SW+Costa+Cir/@45.3094415,-122.7981135,17z/data=!3m1!4b1!4m2!3m1!1s0x54956ebd933c77b5:0x2204394ca600e418" target="_blank">
		<div class="farmerMarket col-xs-12 col-sm-6 col-md-4 second">
			<div class="border">
				<h3 class="cushycms">Wilsonville</h3>
				<p class="red center cushycms">Sofia Park<br>
					28836 SW Costa Circle<br>
					Wilsonville, OR 97070
				</p>
				<p class="center cushycms">Thursdays<br>
					4:00pm–8:00pm<br>
					June–September
				</p>
			</div>
		</div>
		</a>
	</div>

	
	<div class="markets">
		<div class="farmerMarket col-xs-12 col-sm-6 col-md-4 third">
			<div class="border retail">
				<h3 class="cushycms">Retail</h3>
				<p class="red center cushycms">Our brick and mortar<br>
					location is coming<br>
					soon to Beaverton.<br>
				</p>
				<p class="center cushycms">Please stay tuned<br>
					for updates!<br>
					<br>
				</p>
			</div>
		</div>
	
	</div>

	
</div> 