--- 
title: Menu | Big O's Pizza
---

<div class="backgroundRed navFix">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<div class="bar">
					<h1 class="smaller">Menu</h1>
					<h3 class="cream pageHeader cushycms" title="Page Description">Meet us in the Shop or at one of the markets to try our pizza by the slice or order our 18” pizza to share (or not)!</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="backgroundImage backgroundImageMenu">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h2 class="col-md-offset-1 col-md-10 menuH2 cushycms" title="">delivering quality<br>products each time</h2>
			</div>
		</div>
	</div>
</div>
<div class="menuContainer container">
	<div class="row menuSection">
		
<!--Full Width Secion 1 Header -->
		<div class="menu-padding col-md-12">
			<h3 class="cushycms ALLCAPS" title="Menu Section 1 Header">– Pizzas –</h3>
			<h4 class="cushycms" title="Menu SubHeader">Sold by the slice and as 9" or 18" whole pies.</h4>
			<h4 class="cushycms" title="Price Key">Price Legend: (slice/9"/18")</h4>
		</div>
		
<!--Left Pizza Menu Items -->
		<div class="col-sm-5 col-sm-offset-1">
			<div class="menuItemsLeft">
					<div class="menuItem">
						<h3 class="menuItemHeader cushycms" title="Menu Item: Cheese">Cheese</h3>
						<p class="cushycms">Our tomato based sauce and shredded whole milk mozzarella cheese. ($3/$7/$22)</p>
					</div>
					<div class="menuItem">
						<h3 class="menuItemHeader cushycms" title="Menu Item: Trio">Trio</h3>
						<p class="cushycms">Our tomato based sauce, shredded whole milk mozzarella cheese, crumbled mild
Italian Sausage, diced green peppers and diced sweet onions. ($3.50/$8/$26)</p>
					</div>
					<div class="menuItem">
						<h3 class="menuItemHeader cushycms" title="Menu Item: Veggie">Veggie</h3>
						<p class="cushycms">Tomato based sauce, whole milk mozzarella cheese, diced green, red, yellow,
orange peppers, diced Roma tomatoes, sliced mushrooms. ($3.50/$9/$26)</p>
					</div>
					<div class="menuItem">
						<h3 class="menuItemHeader cushycms" title="Menu Item: Hawaiian">Hawaiian</h3>
						<p class="cushycms">Our tomato based sauce, shredded whole milk mozzarella cheese, sliced
Canadian Bacon and pineapple cubes. ($3.50/$9/$26)</p>
					</div>
			</div>
		</div>
		
<!--Right Pizza Menu Items -->
		<div class="menu-padding col-sm-5">
			<div class="menuItemsRight">
				<div class="menuItem">
					<h3 class="menuItemHeader cushycms" title="Menu Item: Pepperoni">Pepperoni</h3>
					<p class="cushycms">Our tomato based sauce, shredded whole milk mozzarella cheese and cubed
pepperoni. ($3.50/$8/$24)</p>
				</div>
				<div class="menuItem">
					<h3 class="menuItemHeader cushycms">Garlic Chicken</h3>
					<p class="cushycms" title="Menu Item: Garlic Chicken">A savory olive oil based sauce, shredded Monterey Jack Cheese,
marinated chicken and Italian Parsley. ($3.50/$9/$26)</p>
				</div>
				<div class="menuItem">
					<h3 class="menuItemHeader cushycms">St. Helens</h3>
					<p class="cushycms" title="Menu Item: St. Helens">A spicy tomato based sauce, shredded whole milk mozzarella cheese,
crumbled hot Italian Sausage and diced sweet onions. ($3.50/$8/$26)</p>
				</div>
				<div class="menuItem">
					<h3 class="menuItemHeader cushycms">Build Your Own</h3>
					<p class="cushycms" title="Menu Item: Build Your Own">Start with a Cheese pizza ($22) and add any of the following toppings
($2 whole, $1 half): Pepperoni, Italian Sausage, Hot Italian Sausage, Canadian Bacon,
Chicken, Green Peppers, Bell Peppers, Onions, Tomatoes, Mushroom, Black Olives,
Banana Peppers and Pineapple</p>
				</div>
			</div>
		</div>
		
<!--Full Width Secion 2 Header -->		
		<div class="menu-padding col-md-12">
			<h3 class="cushycms ALLCAPS" title="Menu Section 2 Title">– Lunch Special –</h3>
			<h4 class="menu-paddingcushycms" title="Menu Section 2 Description">Any slice of the Signature Pizzas above and a side salad - $6 (Greens)
$7 (Caesar)</h4>
		</div>
		
<!--Full Width Secion 3 Header -->		
		<div class="col-md-12">
			<h3 class="cushycms ALLCAPS" title="Menu Section 3 Title">– Salads –</h3>
		</div>		
		<div class="menuItemCenter col-md-12">
			<div class="menuItemsLeft">
				<div class="menuItem">
					<h3 class="menuItemHeader menuItemCenter cushycms" title="Menu Item: Salad 1">Mixed Greens</h3>
					<p class="menuItemCenter cushycms">Italian or Balsamic dressing.<br>($4/$8)</p>
				</div>
				<div class="menuItem menu-padding">
					<h3 class="menuItemHeader menuItemCenter cushycms" title="Menu Item: Salad 2">Caesar</h3>
					<p class="menuItemCenter cushycms">($4/$8)</p>
				</div>
			</div>
		</div>

		
<!--Full Width Secion 4 Header -->		
		<div class="menu-padding col-md-12">
			<h3 class="cushycms ALLCAPS" title="Menu Section 4 Title">– Note –</h3>
			<h4 class="cushycms" title="Menu Section 2 Description">We need 24 hour notice for orders of 10 or more pizzas.</h4>
		</div>
	</div>
</div>