--- 
title: Menu | Big O's Pizza
---

<div class="backgroundRed">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<div class="bar">
					<h1 class="smaller">Menu</h1>
					<h3 class="cream pageHeader">Meet us at one of the markets to try our pizza by the slice or order our 18” pizza to share (or not)!</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="backgroundImage backgroundImageMenu">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h2 class="col-md-offset-1 col-md-10">delivering quality<br>product each time</h2>
			</div>
		</div>
	</div>
</div>
<div class="menuContainer container">
	<div class="row menuSection">
		<div class="col-sm-5 col-sm-offset-1">
			<div class="menuItemsLeft">
				<h3 class="menuItemHeader">Cheese</h3>
				<p>Tomato based sauce and whole milk mozzarella cheese.</p>
				<h3 class="menuItemHeader">Trio</h3>
				<p>Tomato based sauce, whole milk mozzarella cheese, crumbled mild Italian Sausage, diced green peppers and diced sweet onions.</p>
				<h3 class="menuItemHeader">Veggie</h3>
				<p>Tomato based sauce, whole milk mozzarella cheese, diced green, red, yellow, orange peppers, diced Roma tomatoes, sliced mushrooms.</p>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="menuItemsRight">
				<h3 class="menuItemHeader">Pepperoni</h3>
				<p>Tomato based sauce, whole milk mozzarella cheese and cubed pepperoni.</p>
				<h3 class="menuItemHeader">Garlic Chicken</h3>
				<p>A savory olive oil based sauce, Monterey Jack Cheese, marinated chicken and Italian Parsley.</p>
			</div>
		</div>
	</div>
</div>