<div class="backgroundColor backgroundColorStory">
	<div class="container">
		<h3 class="col-md-offset-3 col-md-6">Big O's Pizza began when I, Owen Morehart (the Big O), made pizza at home for my family.</h3>
	</div>
</div>

<div class="backgroundImage backgroundImageStory">
	<div class="container">
		<div class="row homepageText">
			<h5 class="col-md-offset-2 col-md-8">making pizza<br>the way we<br>did at home</h5>
		</div>
	</div>
</div>