<div class="backgroundBrown">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<div class="bar">
					<h1 class="smaller">Story</h1>
					<h3 class="cream pageHeader">Big O's Pizza began when I, Owen Morehart (the Big O), made pizza at home for my family.
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="backgroundImage backgroundImageStory">
	<div class="container">
		<div class="row homepageText">
			<h2 class="col-md-offset-2 col-md-8">making pizza<br>the way we<br>did at home</h2>
		</div>
	</div>
</div>

<div class="container">
	<div class="row story">
		<p class="col-md-offset-3 col-md-6">As a child, I lived on the East Coast and grew to love East Coast style pizza. As a teen, I moved to the Midwest where I discovered mediocre pizza.
		<br>
		<br>
After becoming a father and becoming frustrated with the lack of decent pizza in his area, I began experimenting with pizza recipes at home. After a year of trial and error, I had found the recipe that I was satisfied with and won the approval of my family.
		<br>
		<br>
Fast forward a few years when my family and I movedto Beaverton. I was happy with my pizza, but knew if I changed one or two things; it would take the pizza to the next level. Due to the limitations of my oven at home, I began to research wood-fired ovens. A design was found and tweaked to fit my needs. Soon, I had built my first oven. As expected, the high temperatures and seasoned oak gave my pizza the boost I wanted.
		<br>
		<br>
		</p>
	</div>

	<div class="backgroundImage backgroundImageStory2 col-md-offset-1 col-md-10">
			<div class="row homepageText">
				<h2 class="col-md-offset-1 col-md-10">taking pizza to<br>the next level</h2>
			</div>
	</div>
	
	<div class="row">
		<p class="col-md-offset-3 col-md-6">At Big O’s Pizza we continue making pizza the way I did at home, only on larger scale (and using a much bigger mixer). We are committed to delivering quality product each time, every time.
			<br>
			<br>
Ingredients are made from scratch and locally sourced when possible. Big O’s Pizza strives to be environmentally conscious by recycling packaging and composting all vegetable scraps.
		</p>
			<br>
		<p class="col-md-offset-3 col-md-6 red"> –Owen Morehart aka “The Big O”
			<br>
			<br>
		</p>
	</div>

	
</div>