<div class="container navContainer">
	<div class="col-xs-offset-3 col-xs-6 navLinks">
		<ul>
			<li>
				<a href="../markets.html">This is the nav</a>
			</li>
			<li>
				<a href="../menu.html">This is a nav link</a>
			</li>
			<li>
				<a href="../style-guide.html">This is an active nav link</a>
			</li>
		</ul>
	</div>
</div>
	
<div class="container">	
	<h1>This is an H1 tag.</h1>
		
	<div class="backgroundImage backgroundImageStyle">
		<div class="container">
			<div class="row homepageText">
				<h2 class="col-md-offset-2 col-md-8">This is an H2<br>tag and text<br>on an image.</h2>
			</div>
		</div>
	</div>
</div>

<div class="container">
		<h3>This is an H3 tag.</h3>
			
		<p class="col-md-offset-3 col-md-6">This is a paragraph tag. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
</div>