

<!--
	<header class="headernav">
		<a href="index.html" class="refresh" title="Refresh page"><img src="img/big-os-logo.svg" alt="Big O's Pizza" class="logo"></a>
		<nav>
			<ul>
				<li><a href="" class="active">This is an active link</a></li>
				<li><a href="">This is a navigation link</a></li>
			</ul>
		</nav>
	</header>
-->
	
<div class="container">	
		<h1>This is an H1 tag.</h1>
		
		
		<div class="backgroundImage backgroundImageStyle">
		<div class="container">
			<div class="row homepageText">
				<h2 class="col-md-offset-2 col-md-8">this is how<br>we put text<br>on images.</h2>
			</div>
		</div>
		</div>
		
		<h3>This is an H3 tag.</h3>
		<h4>This is an H4 tag.</h4>
			
		<p class="col-md-offset-3 col-md-6">This is a paragraph tag. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
	</div>
</div>